
<div class="row" style="margin-top: -2em;">
      <div class="col-md-8 col-md-push-2">
        <div class="card">
          <input style="width: 100%" type="text" id="inputSearch" onkeyup="search()" placeholder="Search" title="Type in a name">
        </div>
      </div>
  </div>

  <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-8 col-md-push-2">
          <div class="card">
            <div class="card-header">
              <%= event.author %> | <%= event.date.strftime('%a %B %d %p') %>
            </div>
            <div class="card-block">
              <h3 class="card-title"><%= event.title %></h3>
              <p class="card-text text-center"><%= raw(event.content) %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>

<script>
    document.getElementsByTagName("Body")[0].style.backgroundColor = "#A33";
    for (var i = 0; i < document.getElementsByTagName("img").length; i++) {
      document.getElementsByTagName("img")[i].style.display="inline-block";
      document.getElementsByTagName("img")[i].style.backgroundPosition="center";
      document.getElementsByTagName("img")[i].style.width="100%";
    }

    function search() {
      var title = document.getElementsByClassName("card-title");
      var date = document.getElementsByClassName("card-header");
      input = document.getElementById("inputSearch");
      filter = input.value.toUpperCase();
      // filter by name or by date
      for (i = 0; i < title.length; i++) {
        if (title[i].innerHTML.toUpperCase().indexOf(filter) > -1 ||
        date[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            title[i].parentNode.parentNode.style.display = "";
        } else {
          title[i].parentNode.parentNode.style.display = "none";
        }
      }
    }
</script>
