
  <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-8 col-md-push-2">
          <div class="card">
            <div class="card-header">
              <%= event.author %> - <%= event.date.strftime('%a %B %d, %r') %>
            </div>
            <div class="card-block">
              <h3 class="card-title"><%= event.title %></h3>
              <p class="card-text text-center"><%= raw(event.content) %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>

<script>
    document.getElementsByTagName("Body")[0].style.backgroundColor = "#A33";
</script>
