@import "bootstrap-sprockets";
@import "bootstrap";

* {margin: 0; padding: 0;} 

#cont  {
	width: 1000px;
	overflow: hidden;
	margin: 50px auto;
	background: white;
}

/*photobanner*/
 
.photobanner {
	height: 233px;
	width: 3550px;
	margin-bottom: 80px;
}

body {
	//background-color: #ccc !important;
	//background-image:url(/assets/greyMusic.jpg) !important;
	//background-repeat:no-repeat;
	//background-position: center center;
	//background-attachment: fixed;
	//-webkit-background-size: cover;
	//-moz-background-size: cover;
	//-o-background-size: cover;
	//background-size: cover;
}


.card {
	background: #fff;
    border-radius: 2px;
    display: block;
    margin: 1rem;
    position: relative;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	& .card-header {
		padding: .75rem 1.25rem;
    	margin-bottom: 0;
   		text-align: center!important;
	}

	& .card-block {
	}

	& .card-title {
		margin: 0;
	}

	& .card-text img{
		font-weight: bold;
		margin: 10px; 
	}

	& .card-footer {
		padding: .75rem 1.25rem;
    	margin-bottom: 0;
   		text-align: center!important;

   		& .btn {
   			color: #0c0c0c; 
   		}
	}
}



.navbar  {
	background: rgba(0,0,0,0.4);
}

.navbar-inverse .navbar-nav > li > a {
	 color: #FFFFFF !important; 
}


.seperator {
	background-color: dimgrey !important;
    color: dimgrey !important;
    height: 1px !important;
    width: 100% !important;
}
